/* General */

html,
body {
    min-height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.38;
    font-weight: 400;
    color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-title {
    margin: 0;
    padding: 0;
}

.site-wrapper {
    background-image: url("../img/slider-1.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #849d8f;
    transition: background-image 0.5s ease, background-color 0.5s ease;
    min-width: 1200px;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
    background-image: url("../img/slider-3.png");
}

.container {
    width: 1200px;
    padding: 0 27px;
    margin: 0 auto;
}

.site-wrapper-catalog {
    background-color: #849d8f;
    min-width: 1200px;
}

.button {
    display: inline-block;
    padding: 11px 22px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}

.button a {
    color: #ffffff;
}

.button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.17;
    text-align: left;
    color: #ffffff;
}


/* Navigation */

.main-header {
    position: relative;
    padding-top: 8px;
    z-index: 2;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.main-header-logo {
    flex-shrink: 0;
    margin-bottom: 0;
}

.site-navigation {
    font-size: 16px;
    line-height: 1.13;
    font-weight: 700;
    color: #ffffff;
    text-decoration: underline;
    display: flex;
    padding-left: 10px;
    margin-right: auto;
    flex-wrap: wrap;
}

.site-navigation a {
    display: block;
    vertical-align: top;
    padding: 4px 14px 8px 14px;
}

.site-navigation a:link,
.site-navigation a:visited {
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
    border-radius: 16px;
    background-color: #f8f7f4;
    color: #323232;
    text-decoration: none;
}

.site-navigation a:active {
    background-color: #f8f7f4;
    color: #323232;
    box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.7);
    text-decoration: none;
}

.nav-catalog {
    display: none;
    border-radius: 5px;
    background-color: #f8f7f4;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 158px;
    top: 60px;
    width: 143px;
    padding: 0;
}

.catalog:hover .nav-catalog {
    display: block;
}

.catalog:focus .nav-catalog {
    display: block;
}

.nav-catalog a {
    vertical-align: middle;
    padding: 8px 20px;
    text-decoration: none;
}

.nav-catalog a:link,
.nav-catalog a:visited {
    color: #323232;
}

.nav-catalog a:hover,
.nav-catalog a:focus {
    background-color: #fbded7;
    border-radius: inherit;
}

.nav-catalog .on-page:hover,
.nav-catalog .on-page:focus {
    background-color: #f6b5a5;
    color: #ffffff;
    border-radius: inherit;
}

.nav-catalog .on-page:active {
    background-color: #d07058;
    box-shadow: none;
}

.on-page .creamy a:active {
    background-color: #d07058;
}

.nav-catalog li:first-child>a {
    padding: 11px 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
}

.nav-catalog li:last-child>a {
    border-radius: 0 0 5px 5px;
}

.on-page {
    border-radius: 16px;
    background-color: #d07058;
    color: #ffffff;
    text-decoration: none;
}

.nav-catalog .on-page {
    border-radius: inherit;
}

.user-navigation {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    align-items: baseline;
}

.user-navigation li {
    margin-right: 10px;
}

.user-navigation li:last-child {
    margin-right: 0;
}

.user-navigation a {
    display: block;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
    font-size: 14px;
    font-weight: 500;
    color: #323232;
    background-color: #f8f7f4;
}

.search-link {
    width: 33px;
    height: 33px;
    padding: 8px;
    border-radius: 50%;
}

.search-form {
    display: none;
    position: absolute;
    top: 70px;
    right: 243px;
    width: 342px;
    height: 86px;
    padding: 22px 16px;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-navigation p {
    margin: 0;
}

.search-navigation input {
    width: 100%;
    height: 44px;
    padding: 0 15px;
    border-radius: 5px;
    vertical-align: middle;
}

li:hover .search-form {
    display: block;
}

li:focus-within .search-form {
    display: block;
}

.search-link:focus+.search-form {
    display: block;
}

.user-nav-link svg {
    vertical-align: top;
    margin-right: 9px;
}

.entrance-link:hover path,
.entrance-link:focus path,
.search-link:hover path,
.search-link:focus path {
    fill: #000000;
}

.entrance-link {
    padding: 10px 17px 10px 16px;
    border-radius: 16px;
}

.entrance-form {
    display: none;
    position: absolute;
    top: 73px;
    left: 780px;
    width: 278px;
    border-radius: 5px;
    padding: 21px 18px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.entrance-navigation {
    display: flex;
    flex-direction: column;
}

.entrance-navigation p {
    margin: 0;
}

.entrance-navigation input {
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 5px;
}

.wrap-entrance-link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.wrap-entrance-link .button {
    padding: 12px 23px;
}

.wrap-entrance-link p {
    width: 128px;
}

.entrance-form .text {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-decoration: underline;
}

li:hover .entrance-form {
    display: block;
}

li:focus-within .entrance-form {
    display: block;
}

.entrance-link:focus+.entrance-form {
    display: block;
}

.empty {
    padding: 10px 17px 10px 16px;
    border-radius: 16px;
}

.cart-link {
    padding: 10px 17px 10px 16px;
    border-radius: 16px;
}

.cart-block {
    position: absolute;
    top: 62px;
    right: 27px;
    display: none;
    width: 539px;
    height: 20px;
    background-color: transparent;
}

.cart-items {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    display: none;
    padding-top: 20px;
    width: 539px;
    min-height: 242px;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 5px;
    padding-bottom: 15px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-bottom: 14px;
    align-items: center;
}

.cart-item-del {
    width: 11px;
    height: 11px;
    margin-right: 14px;
    background-image: url("../img/cross-small.svg");
    background-size: 11px 11px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.cart-item img {
    margin-right: 13px;
    margin-bottom: 7px;
    border-radius: 50%;
}

.cart-item-name {
    width: 217px;
    margin: 0;
    margin-right: 32px;
}

.cart-item-amount {
    margin: 0;
    margin-right: 29px;
}

.cart-item-amount span {
    color: #999999;
}

.cart-item-total {
    margin: 0;
}

.cart-total {
    position: relative;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

.cart-total::before {
    position: absolute;
    content: "";
    top: -14px;
    right: 0px;
    width: 510px;
    height: 1px;
    background-color: #cacac7;
}

.cart-submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 250px;
    margin-left: auto;
    margin-right: 14px;
}

.cart-submit a:hover,
.cart-submit a:focus {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

li:hover .cart-items,
li:hover .cart-block {
    display: block;
}

li:focus-within .cart-items,
li:focus-within .cart-block {
    display: block;
}

.cart-link:focus+.cart-items,
.cart-link:focus+.cart-block {
    display: block;
}


/* Workhours */

.workhours {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: right;
    color: #ffffff;
    margin: 0;
    margin-left: auto;
    margin-right: 26px;
    width: 151px;
    line-height: 13px;
}

.tel a {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.09;
    text-align: right;
    color: #ffffff;
}

.tel {
    margin-left: auto;
    margin-right: 26px;
    width: 167px;
    line-height: 17px;
}


/* Slider */

.slider-container {
    width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 10px;
}

.slider {
    position: relative;
    padding-top: 321px;
    text-align: center;
    color: #ffffff;
}

.slider-list {
    margin: 0;
    padding: 0;
}

.slide {
    display: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slide-button {
    padding: 12px 44px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
}

.slider-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#product-1:checked~.site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-1.png");
}

#product-2:checked~.site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-2.png");
}

#product-3:checked~.site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
    display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}


/* main */

.heading {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}


/* Gifts */

.gifts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1146px;
    margin-bottom: 40px;
}

.raspberry {
    background-image: url(../img/raspberry.jpg);
    width: 560px;
    height: 229px;
    border-radius: 15px;
    background-color: #849d8f;
}

.raspberry h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.17;
    text-align: left;
    color: #ffffff;
}

.raspberry p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22;
    text-align: left;
    color: #ffffff;
}

.chocolate {
    background-image: url(../img/chocolate.jpg);
    background-repeat: repeat-x repeat-y;
    width: 560px;
    height: 229px;
    border-radius: 15px;
}

.chocolate h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: #ffffff;
}

.chocolate p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22;
    text-align: left;
    color: #ffffff;
}

.gifts-item {
    display: flex;
    flex-direction: column;
    width: 560px;
    min-height: 229px;
    border-radius: 10px;
    position: relative;
}

.gifts-item h3 {
    margin-top: 23px;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 0;
}

.gifts-item p {
    margin: 20px 22px 45px 22px;
}

.gifts-item .button {
    position: absolute;
    bottom: 24px;
    right: 21px;
}


/* Hits */

.hits a::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 62px;
    height: 62px;
    background-image: url(../img/hit.svg);
    background-repeat: no-repeat;
}


/* Advantages */

.advantages {
    width: 1146px;
    margin: 0 auto;
    padding: 22px 7px 0 7px;
    background-color: #eddfc5;
    background-image: url("../img/wafer.jpg");
    color: #323232;
    border-radius: 15px;
    background-color: white;
}

.advantages-heading {
    margin: 0;
    padding: 0 14px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.advantages-list {
    margin-top: 8px;
    list-style: none;
    padding: 0;
    padding-bottom: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages-list li {
    width: 565px;
    padding: 13px 0 10px 69px;
    padding-left: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.ice-cream-icon {
    background-image: url("../img/ice-cream-icon.svg");
    background-repeat: no-repeat;
    background-position: 13px 0;
}

.eco-icon {
    background-image: url("../img/eco-icon.svg");
    background-repeat: no-repeat;
    background-position: 13px 0;
}

.cow-icon {
    background-image: url("../img/cow-icon.svg");
    background-repeat: no-repeat;
    background-position: 13px 0;
}

.thermometer-icon {
    background-image: url("../img/thermometer-icon.svg");
    background-repeat: no-repeat;
    background-position: 13px 0;
}


/* Articles */

.index-columns {
    margin-top: 40px;
    margin-bottom: 37px;
    display: flex;
    justify-content: space-between;
}

.strawberry {
    background-image: url(../img/strawberry.png);
    width: 560px;
    height: 220px;
    object-fit: contain;
    border-radius: 15px;
    background-color: #849d8f;
}

.strawberry h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    text-align: left;
    color: #323232;
    padding-top: 26px;
    padding-left: 20px;
    margin-bottom: 0;
}

.strawberry article {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    text-align: left;
    text-decoration: underline;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 255px;
}

.strawberry a {
    color: #323232;
}

.strawberry a:hover,
.strawberry a:focus,
.strawberry a:active {
    color: #ffbc9e;
}

.subscription {
    width: 560px;
    height: 222px;
    border-radius: 15px;
    background-image: url(../img/bg-post.svg);
}

.post {
    margin: 6px;
    height: 210px;
    padding: 27px 16px 27px 20px;
    color: #5a5a5a;
    border-radius: 15px;
    background-color: #f8f7f4;
    width: 549px;
    height: 211px;
}

.post input {
    line-height: 1.5;
    color: #999999;
    width: 368px;
    height: 44px;
    border-radius: 5px;
    border: solid 1px var(--greyish-52);
    background-color: #ffffff;
}

.post .button {
    margin-left: 10px;
    padding: 11px 18px;
}


/* Map */

.address {
    position: relative;
    height: 430px;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 0;
}

.map-info {
    position: absolute;
    top: 62px;
    right: 27px;
    width: 302px;
    min-height: 305px;
    border-radius: 15px;
    padding: 30px 27px;
    background-color: #fdfefe;
    color: #323232;
    z-index: 3;
}

.address-text {
    width: 148px;
    height: 34px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #323232;
    margin-bottom: 9px;
}

.address-street {
    width: 225px;
    height: 41px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #323232;
    margin-bottom: 23px;
}

.text-tel {
    width: 175px;
    height: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #323232;
    margin-bottom: 12px;
}

.tel-time {
    height: 39px;
    width: 153px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #323232;
    margin-right: 125px;
}

.tel-time a {
    display: block;
    color: #323232;
}

.tel-time span {
    font-size: 18px;
    font-weight: 700;
}


/* Feedback */

.feedback {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.feedback-modal {
    position: fixed;
    top: 338px;
    left: 3px;
    right: 0;
    width: 478px;
    margin: 0 auto;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 10px;
}

.feedbeck-header {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 21px;
}

.feedback-form {
    margin-top: 1px;
}

.feedback-user-name,
.feedback-user-email {
    width: 267px;
    height: 44px;
    padding-left: 13px;
    padding-right: 15px;
    padding-bottom: 3px;
    border: 1px solid #d3d3d2;
    color: #999999;
    border-radius: 5px;
    outline: none;
}

.feedback-user-name {
    margin-bottom: 5px;
}

.feedback-user-email {
    margin-bottom: 4px;
}

.feedback-user-text {
    width: 427px;
    height: 155px;
    color: #999999;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    outline: none;
    padding: 13px 13px;
    margin-bottom: 22px;
    resize: none;
}

.feedback textarea {
    width: 428px;
    height: 155px;
}

.feedback-form .button {
    display: inline-block;
    padding: 10px 25px 11px 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
    text-align: right;
    margin-left: 67%;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 17px;
    width: 17px;
    height: 17px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url("../img/cross-big.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0;
    outline: none;
}


/* Footer */

.main-footer {
    display: flex;
    align-items: center;
    height: 103px;
    justify-content: space-between;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin-left: 0;
}

.footer-social .twitter {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/twitter-icon.svg);
    background-repeat: no-repeat;
    opacity: 0.8;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-size: cover;
}

.footer-social .inst {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/instagram-icon.svg);
    background-repeat: no-repeat;
    opacity: 0.8;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-size: cover;
}

.footer-social .vk {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/vk-icon.svg);
    background-repeat: no-repeat;
    opacity: 0.8;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-size: cover;
}

.footer-social .fb {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/fb-icon.svg);
    background-repeat: no-repeat;
    opacity: 0.8;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-size: cover;
}

.footer-social li {
    margin-right: 11px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-social .twitter:hover,
.footer-social .inst:hover,
.footer-social .fb:hover,
.footer-social .vk:hover {
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.7);
}

.social-icon:active path {
    fill: #e9e9e9;
}

.footerinfo-wrap {
    display: flex;
    flex-wrap: wrap;
    min-width: 325px;
}

.footerinfo-wrap a {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #ffffff;
    text-decoration: underline;
}

.footerinfo-wrap a:hover,
.footerinfo-wrap a:focus,
.footerinfo-wrap a:active {
    color: #ffbc9e;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    width: 345px;
    margin-left: auto;
    padding: 0;
    align-items: flex-start;
}

.footerinfo-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0;
    padding: 0;
}

.footer-info li:nth-child(2n+1) {
    padding-left: 22px;
}

.for-suppliers {
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0;
}

.footer-copyright {
    margin-right: 0;
}

.html-academy-logo {
    margin-right: 80px;
    margin-bottom: 0;
}

.html-academy {
    margin: 8px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #fefefe;
}

.html-academy a {
    text-decoration: underline;
    color: #fefefe;
}

.html-academy a:hover,
.html-academy a:focus,
.html-academy a:active {
    color: #ffbc9e;
}


/* Breadcrumbs */

.breadcrumbs-wrap {
    display: flex;
    flex-direction: column-reverse;
}

.breadcrumbs {
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    margin: 25px 0 0px 0;
}

.breadcrumbs a {
    text-decoration: underline;
    color: #ffffff;
    display: block;
    padding-left: 14px;
    padding-right: 14px;
    background-image: url("../img/breadcrumbs-arrow.png");
    background-repeat: no-repeat;
    background-position: right 50%;
}

.breadcrumbs :first-child {
    padding-left: 0;
}

.breadcrumbs li:nth-child(2) {
    padding-left: 14px;
}

.breadcrumbs li:last-child {
    padding-left: 14px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
}


/* Product */

.ice-cream-pic {
    border-radius: 160px;
    margin-bottom: 0;
}

.index-catalog,
.main-catalog {
    display: flex;
    flex-wrap: wrap;
}

.catalog-list,
.main-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.product-card {
    position: relative;
    margin: 0 auto;
    width: 267px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 300px;
    text-align: center;
    border-radius: 5px;
    margin-right: 13px;
    margin-bottom: 41px;
}

.product-card :last-child {
    margin-right: 0;
}

.product-card::before {
    z-index: 2;
    content: "";
    position: absolute;
    height: 405px;
    width: 293px;
    display: none;
    opacity: 0;
    background: rgba(248, 247, 244, 0.2);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.product-card:hover::before {
    opacity: 1;
    display: block;
}

.index-catalog .product-content::before {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/hit.svg") no-repeat 0 0;
}

.product-content {
    padding-top: 6px;
}

.product-price {
    position: absolute;
    top: 200px;
    font-weight: 700;
    text-align: left;
}

.product-price .price {
    font-size: 45px;
    line-height: 45px;
}

.product-price .kilo {
    font-size: 30px;
}

.product-card h3 {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.product-name a {
    color: #ffffff;
    font-weight: 100;
    text-decoration-color: rgba(255, 255, 255, 0.2)
}

.product-button {
    position: absolute;
    top: 340px;
    z-index: 5;
    padding: 10px 21px 10px 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
    display: none;
}

.product-card:hover .product-button {
    opacity: 1;
    display: block;
}

.product-button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.product-button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


/* Filters */

.filters {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 18px;
    width: 860px;
    margin-bottom: 40px;
}

.filters fieldset {
    border: none;
    padding: 0;
}

.filters-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sorting {
    width: 195px;
    margin-right: 9px;
    overflow: hidden;
}

.sorting label {
    position: relative;
    margin-bottom: 5px;
    margin-left: 16px;
    padding-left: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.sorting select {
    width: 194px;
    padding: 8px 15px 9px 15px;
    border: none;
    background-image: url("../img/icon-down.svg");
    background-repeat: no-repeat;
    background-position: 167px 50%;
    background-size: 11px 10px;
    border-radius: 20px;
    color: #ffffff;
    background-color: rgba(248, 247, 244, 0.2);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.sorting option {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    padding: 0;
}

.sorting select:hover {
    color: #323232;
    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-position: 167px 50%;
}

.price-select {
    margin-right: 9px;
}

.price-select legend {
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.range {
    padding: 0px 20px;
}

.range-controls {
    width: 218px;
    position: relative;
    background: #abbcb2;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 16px;
}

.range-controls .scale {
    height: 2px;
    background: #ffffff;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: 6px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    transform: scale(1.1);
}

.range-toggle-min {
    left: 30px;
}

.range-toggle-max {
    left: 140px;
}

.richness {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 415px;
}

.richness legend {
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.richness-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 16px;
    min-height: 36px;
    border-radius: 20px;
    background-color: rgba(248, 247, 244, 0.2);
}

.richness-buttons label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 9px;
    margin-left: 6px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.richness-buttons label:not(:last-child) {
    margin-right: 43px;
}

.richness-buttons label::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -32px;
    width: 22px;
    height: 22px;
    background-image: url("../img/radio-off.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    cursor: pointer;
    opacity: 0.8;
}

.richness-buttons label:hover::before {
    opacity: 1;
}

.richness-buttons input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.richness-buttons input:checked+label::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -32px;
    width: 22px;
    height: 22px;
    background-image: url("../img/radio-on.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 22px 22px;
}

.richness-buttons input:focus+label::before {
    outline: 2px dotted rgba(255, 254, 254, 0.5);
    outline-offset: 3px;
}

.richness-buttons input[type="radio"]:disabled+label::before {
    opacity: 0.4;
}

.richness-buttons input[type="radio"]:disabled+label {
    opacity: 0.4;
}

.fillers {
    padding: 0;
    margin-right: auto;
    margin-top: 16px;
    border: none;
}

.fillers legend {
    margin-left: 15px;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.fillers-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 705px;
    min-height: 35px;
    padding-left: 47px;
    padding-right: 21px;
    padding-bottom: 9px;
    border-radius: 20px;
    background-color: rgba(248, 247, 244, 0.2);
}

.fillers-buttons label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.fillers-buttons input:focus+label::before {
    outline: 2px dotted rgba(255, 254, 254, 0.5);
    outline-offset: 3px;
}

.fillers-buttons label:not(:last-child) {
    margin-right: 52px;
}

.fillers-buttons label::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -32px;
    width: 20px;
    height: 20px;
    background-image: url("../img/checkbox-off.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    opacity: 0.8;
}

.fillers-buttons label:hover::before {
    opacity: 1;
}

.fillers-buttons input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.fillers-buttons input:checked+label::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -33px;
    width: 25px;
    height: 20px;
    background-image: url("../img/checkbox-on.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 25px 20px;
}

.fillers-buttons input[type="checkbox"]:disabled+label::before {
    opacity: 0.5;
}

.fillers-buttons input[type="checkbox"]:disabled+label {
    opacity: 0.5;
}

.filter-button {
    align-self: flex-end;
    min-height: 37px;
    margin-top: 37px;
    margin-bottom: 0;
    padding-top: 5px 26px 5px 28px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.188);
    border-radius: 25px;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #ffffff;
    color: #323232;
}

.filter-btn:active {
    box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, 0.8);
}


/* Pagination */

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination {
    margin-left: auto;
}

.pagination a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    letter-spacing: normal;
    color: #ffffff;
    display: block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    text-decoration: none;
    border-radius: 13px;
    padding-top: 5px;
}

.pagination .right-arrow {
    padding-right: 8px;
}

.pagination a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination a:active {
    color: #323232;
    background-color: #ffffff;
}

.pagination li {
    display: inline-block;
    text-align: center;
    line-height: 26px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.pagination li:last-child {
    width: 16px;
}

.left-arrow,
.right-arrow {
    display: block;
    vertical-align: bottom;
    width: 22px;
    height: 22px;
}

.right-arrow {
    text-align: right;
    margin-left: 3px;
    border-radius: 50%;
}

a.right-arrow:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

a.right-arrow:active {
    background-color: #ffffff;
}

.left-arrow::before {
    content: url("../img/left-arrow.png");
    vertical-align: middle;
}

a.right-arrow path {
    fill: #ffffff;
}

a.right-arrow:active path {
    fill: #323232;
}