body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.38;
    font-weight: 400;
    color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.list {
    list-style: none;
}

.button {
    padding: 11px 22px;
    border-radius: 25px;
    background-color: #ef6140;
    background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    text-decoration: none;
    cursor: pointer;
}

.button a {
    color: #ffffff;
}

.button:hover,
.button:focus {
    background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.button:active {
    background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px 0 rgba(172, 16, 0, 1);
    color: #fceeec;
}

h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.17;
    text-align: left;
    color: #ffffff;
}

.site-navigation {
    font-size: 16px;
    line-height: 1.13;
    font-weight: 700;
    color: #ffffff;
    text-decoration: underline;
}

.nav-catalog {
    border-radius: 5px;
    background-color: #f8f7f4;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-navigation {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    color: #ffffff;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.user-navigation a:hover,
.user-navigation a:focus {
    font-size: 14px;
    font-weight: 500;
    color: #323232;
}

.user-navigation form {
    display: none;
}

.workhours {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: right;
    color: #ffffff;
}

.tel a {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.09;
    text-align: right;
    color: #ffffff;
}

.heading {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}

.raspberry h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.17;
    text-align: left;
    color: #ffffff;
}

.raspberry p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22;
    text-align: left;
    color: #ffffff;
    background-image: url(../img/raspberry.jpg);
    width: 560px;
    height: 229px;
    border-radius: 15px;
    background-color: #849d8f;
}

.chocolate h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: #ffffff;
}

.chocolate p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22;
    text-align: left;
    color: #ffffff;
    background-image: url(../img/chocolate.jpg);
    background-repeat: repeat-x repeat-y;
    width: 560px;
    height: 229px;
    border-radius: 15px;
}

.advantages {
    text-align: left;
    color: #323232;
    background-color: #eddfc5;
    background-image: url("../img/wafer.jpg");
    background-color: white;
    width: 1146px;
    height: 306px;
    object-fit: contain;
    border-radius: 15px;
}

.advantages p {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
    text-align: left;
    color: #323232;
}

.advantages-item {
    text-align: left;
    color: #323232;
}

.strawberry {
    background-image: url(../img/strawberry.png);
    width: 560px;
    height: 220px;
    object-fit: contain;
    border-radius: 15px;
    background-color: #849d8f;
}

.strawberry h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    text-align: left;
    color: #323232;
}

.strawberry article {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    text-align: left;
    text-decoration: underline;
}

.strawberry a {
    color: #323232;
}

.strawberry a:hover,
.strawberry a:focus,
.strawberry a:active {
    color: #ffbc9e;
}

.post {
    color: #5a5a5a;
    border-radius: 15px;
    background-color: #f8f7f4;
    width: 560px;
    background-image: url(../img/bg-post.svg);
}

.map-info button {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    text-align: left;
    color: #ffffff;
    width: 252px;
    height: 44px;
    box-shadow: 0px 2px 2px 0 var(--deep-red-64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
}

.post input {
    line-height: 1.5;
    color: #999999;
    width: 368px;
    height: 44px;
    border-radius: 5px;
    border: solid 1px var(--greyish-52);
    background-color: #ffffff;
}

.feedback {
    display: none;
}

.footer-info a {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
    text-align: left;
    color: #ffffff;
    text-decoration: underline;
}

.footer-info a:hover,
.footer-info a:focus,
.footer-info a:active {
    color: #ffbc9e;
}

.html-academy {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #fefefe;
}

.html-academy a {
    text-decoration: underline;
    color: #fefefe;
}

.html-academy a:hover,
.html-academy a:focus,
.html-academy a:active {
    color: #ffbc9e;
}

.cart-items {
    display: none;
}

.breadcrumbs {
    font-size: 14px;
    line-height: 1.14;
}

.breadcrumbs a {
    text-decoration: underline;
    color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
}

.product-name a {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
}

.product-name a:hover,
.product-name a:focus,
.product-name a:active {
    color: #ffbc9e;
}

.price {
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
}

.price span {
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
}

.sort-heading {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-align: left;
    color: #ffffff;
}

.sorting {
    font-weight: 500;
    line-height: 1.13;
    text-align: left;
    color: #ffffff;
}

.sorting a:hover,
.sorting a:focus {
    color: #323232;
}

.sort-button {
    color: #ffffff;
    background-color: #a6b7ae;
    border-radius: 18px;
    border: 2px solid #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.sort-button:hover {
    color: #323232;
    background-color: #fbfcfb;
}

.sort-button:active {
    color: #323232;
    background-color: #eaeaea;
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.7);
    border: none;
}

.page-number-list a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    letter-spacing: normal;
    color: #ffffff;
}

.page-number-list a:active {
    color: #323232;
    background-color: #ffffff;
}

html,
body {
    min-height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.site-wrapper {
    background-color: #849d8f;
    min-width: 1200px;
}

.container {
    width: 1200px;
    padding: 0 27px;
    margin: 0 auto;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header {
    position: relative;
    margin: 0;
    padding-top: 8px;
    z-index: 2;
}

.main-navigation {
    display: flex;
}

.main-header-logo {
    flex-basis: 154px;
    flex-shrink: 0;
}

.site-navigation {
    display: flex;
    padding-left: 10px;
    margin-right: auto;
    flex-wrap: wrap;
}

.site-navigation a {
    display: block;
    vertical-align: top;
    padding: 4px 14px 8px 14px;
}

.nav-catalog {
    display: none;
    position: absolute;
    left: 158px;
    top: 60px;
    width: 143px;
    padding: 0;
}

.user-navigation {
    padding: 0;
    display: flex;
}

.search-link {
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 50%;
}

.entrance-link {
    padding: 8px 16px 8px 45px;
    border-radius: 16px;
}

.empty {
    padding: 8px 16px 8px 45px;
    border-radius: 16px;
}

.cart-link {
    padding: 8px 16px 8px 45px;
    border-radius: 16px;
}

.workhours {
    margin-left: auto;
    margin-right: 26px;
    width: 151px;
    line-height: 13px;
}

.tel {
    margin-left: auto;
    margin-right: 26px;
    width: 166px;
    line-height: 17px;
}

.gifts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1146px;
}

.gifts-item {
    display: flex;
    flex-direction: column;
    width: 560px;
    min-height: 229px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.gifts-item h3 {
    margin: 13px 20px 15px 20px;
}

.gifts-item p {
    margin: 0px 22px 45px 22px;
}

.gifts-item .button {
    margin-right: 20px;
    align-self: flex-end;
    margin-bottom: 20px;
}

.advantages {
    margin: 0;
    padding: 22px 7px 0 7px;
}

.advantages-heading {
    margin: 0;
    padding: 0 14px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-bottom: 40px;
    margin-left: -13px;
    margin-right: -13px;
    justify-content: space-between;
}

.advantages-item {
    flex: 0 0 50%;
    padding: 13px 0 10px 69px;
    padding-left: 70px;
}

.index-columns {
    margin: 40px 0 37px 0;
    display: flex;
    justify-content: space-between;
}

.subscription {
    width: 560px;
    height: 222px;
    border-radius: 15px;
}

.post {
    margin: 6px;
    height: 210px;
    padding: 27px 16px 27px 20px;
}

.post .button {
    margin-left: 10px;
    padding: 11px 18px;
}

.address {
    position: relative;
    height: 430px;
    margin-bottom: 18px;
}

.address-background {
    position: absolute;
    top: 0;
    left: -27px;
    right: -27px;
}

.map-info {
    position: absolute;
    top: 62px;
    right: 27px;
    width: 302px;
    min-height: 305px;
    border-radius: 15px;
    padding: 30px 27px;
    background-color: #fdfefe;
    color: #323232;
    z-index: 3;
}

.address-1 {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.address-1 span {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.address2 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.address2 span {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.address1+.address1 {
    margin-top: 16px;
}

.address1+.address2 {
    margin-top: 8px;
}

.main-footer {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-bottom: 0;
    padding-top: 9px;
    padding-left: 27px;
    padding-right: 27px;
    margin: 0 auto;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-left: auto;
    padding: 0;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-left: auto;
    padding: 0;
}

.footerinfo-wrap {
    display: flex;
    flex-wrap: wrap;
    min-width: 325px;
}

.footerinfo-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.html-academy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 189px;
    margin-left: auto;
    padding: 0;
    justify-content: flex-end;
}

.breadcrumbs-wrap {
    display: flex;
    flex-direction: column-reverse;
}

.breadcrumbs {
    display: flex;
    margin: 25px 0 0px 0;
    padding-left: 0;
}

.breadcrumbs a {
    display: block;
    padding-right: 14px;
}

.filters {
    margin: 0;
    margin-bottom: 19px;
}

.filters form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.filters fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.filters legend {
    padding-left: 16px;
}

.field-container {
    padding: 0 15px;
    height: 36px;
    border-radius: 18px;
    vertical-align: middle;
}

.field-sorting {
    width: 194px;
}

.filters select {
    padding: 8px 15px 9px 15px;
    border: none;
    width: 194px;
}

.field-price {
    width: 219px;
}

.field-richness {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field-richness label {
    padding-left: 32px;
    margin-right: 16px;
}

.field-richness label:last-child {
    margin-right: 0
}

.field-filler {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field-filler label {
    padding-left: 33px;
    margin-right: 21px;
}

.field-filler label:last-child {
    margin-right: 0;
}

.sort-button {
    width: 145px;
    height: 36px;
    align-self: flex-end;
    margin-bottom: 13px;
}

.page-title {
    margin: 0;
    padding: 0;
}

.catalog {
    margin: 0;
}

.catalog-list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    flex: 0 0 25%;
    margin-top: 8px;
    margin-bottom: 5px;
    position: relative;
    width: 267px;
    padding: 0 0 15px 0;
    text-align: center;
}

.item-hover:hover {
    left: -13px;
    top: -6px;
    width: 293px;
    padding-top: 8px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.item-hover:hover .quick-look {
    display: block;
    border-radius: 5px;
}

.price {
    top: 162px;
    left: 0px;
}

.quick-look {
    display: none;
    left: 0;
    padding-bottom: 20px;
    z-index: 2;
}

.quick-look .button {
    display: block;
    vertical-align: top;
    width: 208px;
    margin: 0 auto;
    padding: 11px 18px;
}

.page-number-list {
    margin: 20px 0 18px 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: right;
}

.page-number-list li {
    display: inline-block;
    text-align: center;
    line-height: 26px;
    padding: 30px 0;
}

.page-number-list li:last-child {
    width: 16px;
}

.page-number-list a {
    display: block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    text-decoration: none;
    border-radius: 13px;
}

.page-number-list a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}